<div class="w-full h-full flex">
  <mat-drawer-container class="flex-1 bg-white">
    <mat-drawer mode="side" [opened]="isChatboxDrawerOpened">
      <div class="w-64 py-4 px-1">
        <!-- Conversation detail -->
        <div class="shadow-md px-3 py-8 rounded-md text-center">
          <img
            class="
              h-36
              w-36
              mx-auto
              mb-5
              rounded-full
              object-cover
              border-4 border-accent-500 border-dashed
            "
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="My funny talk with hehe"
          />
          <h3 class="text-xl text-gray-800 font-bold mb-0">
            {{ conversation?.title }}
          </h3>
          <h3 class="text-xl text-gray-800 font-bold">
            ({{ conversationShortenId() }})
          </h3>
          <div>
            <button
              mat-raised-button
              color="accent"
              class="w-full mb-3"
              (click)="handleClickCopyCode()"
            >
              <mat-icon class="mr-1">content_copy</mat-icon>
              Copy code ({{ conversationShortenId() }})
            </button>
            <button mat-raised-button color="accent" class="w-full mb-3">
              <mat-icon class="mr-1">file_present</mat-icon>
              View all attachments
            </button>
            <button mat-raised-button color="accent" class="w-full mb-3">
              <mat-icon class="mr-1">photo_library</mat-icon>
              View all images
            </button>
          </div>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content class="flex flex-1 flex-col p-4">
      <!-- Header -->
      <div
        class="flex items-center justify-between h-14 rounded-lg px-3 shadow-md"
      >
        <div>
          <button mat-mini-fab (click)="handleToggleDrawer()">
            <mat-icon>
              {{ isChatboxDrawerOpened ? "chevron_left" : "chevron_right" }}
            </mat-icon>
          </button>
        </div>
        <div>
          <button mat-mini-fab class="ml-3">
            <mat-icon>phone</mat-icon>
          </button>
          <button mat-mini-fab class="ml-3"  (click)="startVideoCall()">
            <mat-icon>video_call</mat-icon>
          </button>
        </div>
      </div>
      <!-- Body -->
      <div class="flex-1 flex flex-col justify-end py-3">
        <!-- Conversation item -->
        <div
          *ngFor="let message of conversation?.messages || []; index as i"
          [class]="
            message.sender?.id === currentUser?.id
              ? 'flex-row-reverse flex my-3'
              : 'flex my-3'
          "
        >
          <img
            *ngIf="!(message.sender?.id === currentUser?.id)"
            class="
              h-12
              w-12
              rounded-full
              object-cover
              border-2 border-accent-500 border-dashed
              mr-3
            "
            [src]="message.sender?.avatar"
            [alt]="message.sender?.username"
          />
          <div class="p-3 rounded-md shadow-md">
            <p class="flex mb-1">
              <b>{{ message.sender?.username || message.sender?.id }}</b>
              <small class="text-gray-500 ml-2">
                {{ message.createdAt | date: "short" }}
              </small>
            </p>
            <p class="max-w-xl">{{ message.message }}</p>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="flex rounded-lg shadow-md">
        <textarea
          class="w-full p-5"
          placeholder="Type your message"
          #textareaElement
          (input)="handleInputTextarea()"
          (keydown.enter)="handleEnterTextarea($event)"
          [(ngModel)]="textareaValue"
          [style.height]="textareaHeight"
        ></textarea>
        <div class="flex items-center gap-3 px-3">
          <button mat-mini-fab (click)="handleSubmitMessage()">
            <mat-icon>send</mat-icon>
          </button>
          <button mat-mini-fab>
            <mat-icon>attach_file</mat-icon>
          </button>
          <button mat-mini-fab>
            <mat-icon>image</mat-icon>
          </button>
          <button mat-mini-fab>
            <mat-icon>sentiment_satisfied_alt</mat-icon>
          </button>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
