<div>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Add by user id</mat-label>
    <input matInput [(ngModel)]="userId" />
  </mat-form-field>
  <mat-form-field *ngIf="!userId" appearance="fill" class="w-full">
    <mat-label>Add by username</mat-label>
    <input matInput [(ngModel)]="username" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="w-full mb-3"
    (click)="handleAddContact()"
  >
    <mat-icon class="mr-1">person_add</mat-icon>
    Add contact
  </button>
</div>
